*{
padding: 0;
margin-top: 0;
box-sizing: border-box;
font-family: "inter";
}

body{
    background-color: rgb(249, 249, 246);
    
}

header{
   margin-top: 20px;
 
   
}
.stc{
   display: flex;
   justify-content: space-around;
   font-family:"inter";
   font-size: 1.3rem;
}
   
/*sessão*/
.bloco1{
   background-image: url(./assets.com/ft1.jpeg);
   height: 650px;
   width: 100%vh;
   background-size: cover;
   background-position: center;
   position: relative;
   opacity: 0.9;
   
}
h1{
   color: rgb(9, 8, 8);
   position: absolute;
   top: 21rem;
   left: 20rem;
   font-family:"inter";
   font-size: 90px;
   font-weight:400;
}
.p1{
 position: absolute;
 left:20rem;
 top: 25.5rem;
 font-size: 20px;
 font-family: "inter";
}
/*sessão 2*/
.chamada{
   font-family: "inter";
   margin-top: 7rem;
   font-size: 45px;
   text-align: center;
   font-weight: 500;
   color: rgb(17, 17, 17);
   margin-bottom: 4rem;
} 
.link1{
   background-color: rgb(41, 110, 215);
   color: rgb(252, 251, 251);
   font-family: "inter";
   margin: 0 auto;
   text-decoration: none;
   padding: 20px 20px;
   font-size: 1.3rem;
   text-transform: uppercase;
   margin-left: 43%;
   margin-top: 40px;
}
p{
   text-align: center;
   margin-top: 8rem;
   font-size: 1.3rem;
   font-weight: 500;
   
}
/* carrosel*/
li{
   list-style-type: none;
}
button {
   cursor: pointer;
}
.slideshow-container{
   position: relative;
   height: 60%vh;
   overflow: hidden;
}
.slides{
   height: 60%;
}
.slide{
   width: 60%; /* largura das fotos carrosel */
   height: 500px; /* altura das fotos carrosel*/
   display: none;
   margin: 0 auto;
}
.slide[data-active]{
   display: block;
}
.slide img{
   width: 100%;
   height:100%;
   object-fit: cover;
   object-position: center;

}

.previous-button,
.next-button{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border: 0;
   width: 56px;
   height: 56px;
   font-size: 50px;
   font-weight: 900px;
   border-radius: 10px;
   color: rgb(16, 16, 16);
   background: transparent;
   
}

.previous-button{
   left: 20%;
 
}
.next-button{
   right: 20%;
   
}
.previous-button:hover,
.next-button:hover{
   background-color: rgba(255, 251, 251, 0.4);
}
.fade{
   animation-name: fade;
   animation-duration:  1.2s;
}

@keyframes fade {
   from {
      opacity: 0.8;

   }

   to {
      opacity: 1;
   }
}
/* final do carrosel*/

 