*{
padding: 0;
margin-top: 0;
box-sizing: border-box;
}

body{
    background-image: url(./assets.com/fundo4.jpg);
    
}

header{
   background-color: aliceblue;
   margin-top: 15px;
  
}
nav{
   text-align: center;
}
.itens-header{
   list-style: none;
   display: flex;
   justify-content: center;
   
}
.itens-header li{
   margin: 10px 10px;
   
}
.itens-header a{
   text-decoration: none;
   font-weight: bold;
   font-size: 20px;
   font-family: Helvetica;
   transition: color 0.3s ease;
   padding: 25px;
   color:rgb(47, 47, 47);

}
.itens-header a:hover{
   color: rgb(110, 110, 110);
}
/* carrosel*/
li{
   list-style-type: none;
}
button {
   cursor: pointer;
}
.slideshow-container{
   position: relative;
   height: 100vh;
}
.slides{
   height: 100%;
}
.slide{
   width: 100%;
   height: 100%;
   display: none;
}
.slide[data-active]{
   display: block;
}
.slide img{
   width: 100%;
   height:100%;
   object-fit: cover;
   object-position: center;

}

.previous-button,
.next-button{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border: none;
   width: 56px;
   height: 56px;
   font-size: 32px;
   font-weight: bold;
   border-radius: 10px;
   color: black;
   background: transparent;
   
}

.previous-button{
   left: 0;
 
}
.next-button{
   right: 0;
   
}
.previous-button:hover,
.next-button:hover{
   background-color: rgba(70, 69, 69, 0.4);
}


